* {
    margin: 0;
    padding: 0;
    }
body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
canvas{
    background: #b8fcfc;
}

#myRange {
    background: linear-gradient(to right, #080cc0 0%, #080cc0 0%, #fff 0%, #fff 100%);
    border: solid 1px #000000;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    margin-bottom: 30px;
  }

.demo{
    margin-right: 50px;
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 150px;
      -webkit-appearance: none;
      background-color: #e0dddd;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #3a67e4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      border-radius: 50%;
      cursor: ew-resize;
      background: #cac9c9;
      box-shadow: -80px 0 0 80px #2885f0;
    }

}
input[type="range"]::-moz-range-progress {
    background-color: #2145bd; 
  }
  input[type="range"]::-moz-range-track {  
    background-color: #bebebe;
  }
  
  input[type="range"]::-ms-fill-lower {
    background-color: #202ea7; 
  }
  input[type="range"]::-ms-fill-upper {  
    background-color: #c4c4c4;
  } */