* {
    margin: 0;
    padding: 0;
    }
body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
canvas{
    background: #b8fcfc;
}

#myRange {
    background: linear-gradient(to right, #080cc0 0%, #080cc0 0%, #fff 0%, #fff 100%);
    border: solid 1px #000000;
    border-radius: 8px;
    height: 7px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    margin-bottom: 30px;
  }

.demo{
    margin-right: 50px;
}

